<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=G-QZVFE4BVQ8"></script>
			<script>
			  window.dataLayer = window.dataLayer || [];
			  function gtag(){dataLayer.push(arguments);}
			  gtag('js', new Date());

			  gtag('config', 'G-QZVFE4BVQ8');
			</script>
		</head>
		<body>
			<nav>
	    		<ul>
				<li><a href="/">home</a></li>
	        		<li><a href="/blog">blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:dhruv.nigam93@gmail.com">email</a></li>
	        		<li><a href="https://www.linkedin.com/in/dhruv-nigam-52531176/">linkedin</a></li>
				</ul>
			</footer>
		</body>
	</html>
